html
  head
    link(rel="stylesheet", href="/static/main.css")
    title Inside Cropping
  body
    img(src = '/image/' + id + '/' +files[1])
    br
    img(src = '/image/' + id + '/' +files[2])
    br
    img(src = '/image/' + id + '/' +files[3])
    br
    img(src = '/image/' + id + '/' +files[4])
    br
