html
  head
    link(rel="stylesheet", href="/static/main.css")
    title Inside Cropping
  body
    input(type='file', name='file', id='input_file', accept='image/x-png, image/gif, image/jpeg')
    br
    input(type='button', value='Submit', id='input_submit')
    p#status

    script(src="/static/main.js")
